# General configuration
DATABASE_FILE = "lb-local.db"
DOMAIN = "127.0.0.1"
PORT = 5000
SECRET_KEY = ""
AUTHORIZED_USERS = []
ADMIN_USERS = []

# MusicBrainz OAuth2 Details
MUSICBRAINZ_CLIENT_ID=""
MUSICBRAINZ_CLIENT_SECRET=""
MUSICBRAINZ_BASE_URL=""
