{% if errors %}
    <div id="errors" style="margin-top: 1.5em" class="alert alert-warning" role="alert">
        {{ errors }}
    </div>
    <div>
        <p><em>No playlist was generated.</em></p>
        <p>Some reasons could include:</p>
        <ul>
            <li>Your prompt was too specific and no recordings matched.</li>
            <li>There is not enough metadata available about the music covered in the query.</li>
            <li>The metadata for your collection has not been sync'ed.</li>
        </ul>
    </div>
{% else %}
{% include 'include/player.html' %}
<div id="playback-errors" style="margin-top: 1.5em; display: none" class="alert alert-warning" role="alert">
</div>
<div id="save-playlist-div">
    <form hx-post="/playlist/create"
          hx-target="#save-result"
          hx-swap="outerHTML"
          hx-ext="json-enc">
      <fieldset class="d-flex flex-row justify-content-evenly align-items-center">
        <label for="playlist_name">Save playlist</label>
        <input type="text"
               name="playlist-name"
               id="playlist-name"
               class="form-control-lg"
               value="{{ playlist_name }}"
               placeholder="playlist name"
               style="width: 40%"
               hx-on:input="update_save_buttons();"/>
        <label for="service">Service</label>
        {% if services %}
            <select name="service" id="services" class="form-control-lg">
            {% for service in services %}
                <option value="{{service}}">{{service}}</option>
            {% endfor %}
            </select>
        {% else %}
            <select name="service" id="services" class="form-control-lg" DISABLED>
              <option value="">No services available</option>
            </select>
        {% endif %}
        <input type="hidden" name="jspf" value="{{jspf}}"/>
        <button class="btn btn-lg btn-primary"
               type="submit"
               id="playlist-save-button" 
               DISABLED>
            Save playlist</button>
        <a onclick="hide_playlist()" id="save-playlist-close-button" class="align-self-start">
            <i class="fa-solid fa-close"></i>
        </a>
      </fieldset>
    </form>
    <div id="save-result" style="margin-top: 1.0em; display: block">
    </div>
</div>
<div>
    <h2>{{ playlist_name }}</h2>
    <div>{{ playlist_desc }}</div>
</div>
{% if hints %}
    <div id="troi-hints" class="alert alert-warning" role="alert">
        <a onclick="hide_hints()" id="hide-hints-button" class="align-self-start">
            <i class="fa-solid fa-close float-end"></i>
        </a>
        <ul>
            {% for hint in hints %}
                <li>{{ hint }}</li>
            {% endfor %} 
        </ul>
    </div>
{% endif %}
<table class="table" id="playlist-table">
    <thead>
        <th>cover</th>
        <th>title</th>
        <th>release</th>
        <th>artist</th>
        {% if show_service %}
          <th>service</th>
        {% endif %}
    </thead>
    <tbody>
    {% for rec in recordings %}
        <tr id="row{{ loop.index0 }}"
            hx-on:click="enter_event(EVENT_JUMP, {{ loop.index0 }})">
            <input type="hidden" value="{{ rec.musicbrainz["subsonic_id"]}}" id="recording{{ loop.index0 }}"/>
            <input type="hidden" value="{{ rec.musicbrainz["file_source"]}}" id="recording{{ loop.index0 }}_source"/>
            <td>
                <a onclick="enter_event(EVENT_JUMP, {{ loop.index0 }})">
                    <img src="http://coverartarchive.org/release/{{ rec.release.mbid }}/front-250"
                        class="cover-art"
                        onerror="this.onerror=null;this.style='opacity: 40%';this.src='http://coverartarchive.org/img/big_logo.svg'"/>
                </a>
            </td>
            <td>
                <a href="https://listenbrainz.org/recording/{{ rec.mbid}}">{{ rec.name }}</a>
            </td>
            <td class="col tl-release-col">
                <a href="https://listenbrainz.org/release/{{ rec.release.mbid }}">{{ rec.release.name }}</a>
            </td>
            <td class="col tl-artist-col">
                {% for artist in rec.artist_credit.artists %}
                    <a  href="/lb-radio?prompt=artist:({{ artist.mbid | safe }})&title={{ artist.name }}">
                       <i class="fa-solid fa-radio"></i>
                    </a>
                    <a class="artist" href="https://listenbrainz.org/artist/{{ artist.mbid }}">{{ artist.name }}</a>
                    {{ artist.join_phrase }}
                {% endfor %}
            </td>
            {% if show_service %}
            <td>
                {{ rec.listenbrainz.file_source }}
            </td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>
<script type="text/javascript">
function hide_playlist() {
    document.getElementById("save-playlist-div").style.display = "none";
}
function hide_hints() {
    document.getElementById("troi-hints").style.display = "none";
}
function update_save_buttons() {
  edit = document.getElementById("playlist-name");
  document.getElementById("playlist-save-button").disabled = !edit.value.length ||
                                                  document.getElementById("services").disabled;
}
</script>
{% endif %}
