{% if services|length > 0 %}
<table class="table table-striped table-border" id="services-list-table">
    <thead>
        <th>URL</th>
        <th>name</th>
        <th>status</th>
        <th>last sync</th>
        <th>actions</th>
    </thead>
    <tbody>
        {% for service in services %}
        <tr>
            <td>{{ service.name }}</td>
            <td>{{ service.url }}</td>
            <td>{{ service.status or "not scanned" }}</td>
            <td>{{ service.last_scanned_text }}</td>
            <td>
                <a href="/service/{{ service.uuid }}/sync">Sync</a> |
                <a href="/service/{{ service.uuid }}/edit">Edit</a> |
                <a href="/service/{{ service.uuid }}/delete">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>No services defined.</p>
{% endif %} {% block scripts %}
<script type="text/javascript"></script>
{% endblock %}
