<table class="w-100"
    {% if not complete %}
        hx-trigger="every 2s"
        hx-get="/service/{{ slug }}/sync/log" 
        hx-swap="innerHTML"
        hx-target="#form-stats"
    {% endif %}
>
    {% if stats %}
        {% for label, value in stats %}
            {% if label != "Progress" %}
                <tr>
                    <td style="width: 30%">{{ label }}</td>
                    <td style="width: 70%">{{ value }}</td>
                </tr>
            {% else %}
                <tr>
                    <td>Progress</td>
                    <td>
                        <div class="progress" style="height: 40px">
                            <div class="progress-bar"
                                 role="progressbar"
                                 style="width: {{ value }}%;"
                                 aria-valuenow="{{ value }}"
                                 aria-valuemin="0"
                                 aria-valuemax="100">{{ value }}%</div>
                        </div>
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
    {% else %}
        <tr>
            <td style="width: 30%">Status</td>
            <td style="width: 70%">( idle )</td>
        </tr>
    {% endif %}
</table> 