<!doctype html>
<html lang="en">
    <head>
        {% block head %}
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        {% block styles %}
        <link
            rel="stylesheet"
            href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic"
        />
        <link
            href="{{ url_for('static', filename='css/bootstrap.min.css') }}"
            rel="stylesheet"
        />
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/lb-local.css') }}"
        />
        <script
            src="https://kit.fontawesome.com/20616c5125.js"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://unpkg.com/htmx.org@2.0.4"
            integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+"
            crossorigin="anonymous"
        ></script>
        <script src="https://unpkg.com/htmx-ext-json-enc@2.0.1/json-enc.js"></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.2.4/howler.min.js"
            integrity="sha512-xi/RZRIF/S0hJ+yJJYuZ5yk6/8pCiRlEXZzoguSMl+vk2i3m6UjUO/WcZ11blRL/O+rnj94JRGwt/CHbc9+6EA=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        ></script>
        <script src="/static/js/lb-local.js"></script>

        {% endblock %}

        <title>ListenBrainz Local: {% block title %}{% endblock %}</title>

        {% endblock %}
    </head>
    <body>
        <div class="container-md d-flex flex-column" style="height: 100vh;">
            {% if no_navbar %} {% else %} {% include 'include/navbar.html' %}
            <div class="row main-row flex-grow-1">
                <div class="col-md-12 d-flex flex-column">
                    {% endif %} {% block content %} {% endblock %} {% if
                    no_navbar %} {% else %}
                </div>
            </div>
            {% endif %}
        </div>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"
        ></script>
        {% block scripts %} {% endblock %}
    </body>
</html>
