<nav class="navbar navbar-expand-md navbar-color">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"
            ><img
                class="lb-logo"
                src="/static/img/lb-local-logo.svg"
        /></a>
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div
            class="collapse navbar-collapse"
            id="navbarSupportedContent"
        >
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a
                        class="nav-link {{ 'active aria-current="page"' if page == "lb-radio" }}"
                        href="/lb-radio"
                        >LB Radio</a
                    >
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ 'active aria-current="page"' if page == "weekly-jams" }}"
                        href="/weekly-jams"
                        >Weeky Jams</a
                    >
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ 'active aria-current="page"' if page == "top-tags" }}"
                    href="/top-tags"
                        >Top Tags</a
                    >
                </li>
                <li class="nav-item">
                        <a class="nav-link {{ 'active aria-current="page"' if page == "unresolved" }}"
                            href="/unresolved"
                        >Unresolved Albums</a
                    >
                </li>
            </ul>
            <span class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {{ current_user.name }}
                      </a>
                      <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="/settings">Settings</a></lio>
                        {% if current_user.is_admin %}
                            <li><a class="dropdown-item" href="/admin">Admin</a></lio>
                            <li><a class="dropdown-item" href="/service">Services</a></lio>
                        {% endif %}
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/logout">Logout</a></li>
                      </ul>
                    </li>
            </span>
        </div>
    </div>
</nav>
