.tracklistcol {
    padding: 0.1rem 0.1rem;
    border-bottom: none;
}

.cover-art {
    width: 50px;
    height: 50px;
}

.save-playlist {
    float: right;
}

.lb-logo {
    height: 84px;
}

#spinner {
    height: 100px;
}

.htmx-indicator{
    display: none;
    transition: display 500ms ease-in;
}
.htmx-request .htmx-indicator{
    display: inline;
}
.htmx-request.htmx-indicator{
    display: inline;
}
.headphones {
    width: 15px;
    filter: invert(86%) sepia(25%) saturate(544%) hue-rotate(207deg) brightness(91%) contrast(88%);
}
.purple {
    filter: invert(86%) sepia(25%) saturate(544%) hue-rotate(207deg) brightness(91%) contrast(88%);
}
.index-row {
    width: 100%;
}
.index-item {
    height: 125px;
    display: inline;
}

.cover-art-unresolved {
    width: 150px;
    height: 150px;
}

.flex-wrap-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.unresolved-release {
  width: 180px;

}
