<!doctype html>
<html lang="en">
    <head>
        {% block head %}
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        {% block styles %}
        <link
            rel="stylesheet"
            href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic"
        />
        <link
            href="{{ url_for('static', filename='css/bootstrap.min.css') }}"
            rel="stylesheet"
        />
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/lb-local.css') }}"
        />
        <script
            src="https://kit.fontawesome.com/20616c5125.js"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://unpkg.com/htmx.org@2.0.3"
            integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq"
            crossorigin="anonymous"
        ></script>
        <script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.2.4/howler.min.js"
            integrity="sha512-xi/RZRIF/S0hJ+yJJYuZ5yk6/8pCiRlEXZzoguSMl+vk2i3m6UjUO/WcZ11blRL/O+rnj94JRGwt/CHbc9+6EA=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        ></script>
        <script src="/static/js/lb-local.js"></script>

        {% endblock %}

        <title>ListenBrainz Local: {% block title %}{% endblock %}</title>

        {% endblock %}
    </head>
    <body onload="init_player({{ subsonic }})">
        <div class="container-md">
            <nav class="navbar navbar-expand-md navbar-color">
                <div class="container-fluid">
                    <a class="navbar-brand" href="/"
                        ><img
                            class="lb-logo"
                            src="/static/img/lb-local-logo.svg"
                    /></a>
                    <button
                        class="navbar-toggler"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent"
                        aria-expanded="false"
                        aria-label="Toggle navigation"
                    >
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div
                        class="collapse navbar-collapse"
                        id="navbarSupportedContent"
                    >
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a
                                    class="nav-link {{ 'active aria-current="page"' if page == "lb-radio" }}"
                                    href="/lb-radio"
                                    >LB Radio</a
                                >
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {{ 'active aria-current="page"' if page == "weekly-jams" }}"
                                    href="/weekly-jams"
                                    >Weeky Jams</a
                                >
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {{ 'active aria-current="page"' if page == "top-tags" }}"
                                href="/top-tags"
                                    >Top Tags</a
                                >
                            </li>
                            <li class="nav-item">
                                    <a class="nav-link {{ 'active aria-current="page"' if page == "unresolved" }}"
                                        href="/unresolved"
                                    >Unresolved Albums</a
                                >
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="row main-row">
                <div class="col-md-12">{% block content %} {% endblock %}</div>
            </div>
        </div>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"
        ></script>
        {% block scripts %} {% endblock %}
    </body>
</html>
