{%- extends 'include/base.html' -%} {%- block title -%}credentials{% endblock %}
{%- block content -%}

<h2>{{mode}} credential</h2>

{% with messages = get_flashed_messages() %} {% if messages %} {% for message in
messages %}
<div class="alert alert-warning" role="alert">{{ message }}</div>
{% endfor %} {% endif %} {% endwith %}

<p>
    Use this form to add credentials for your Subsonic (Navidrome, gonic...) account here. Do not enter
    your ListenBrainz credentials here!
</p>

<form method="post" action="/credential/add">
    <div class="form-body">
        <div class="mb-3">
            <label for="exampleInputService" class="form-label">Service</label>
            <select
                id="exampleInputService"
                class="form-select form-control-large"
                name="service"
            >
                {% for service in services %}
                <option value="{{ service.id }}">{{ service.slug }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <label for="exampleInputUserName" class="form-label"
                >User name</label
            >
            <input
                type="text"
                name="user_name"
                value="{{ (credential and credential.user_name) or user_name or ''}}"
                class="form-control form-control-lg"
                id="exampleInputUserName"
            />
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword" class="form-label"
                >Password</label
            >
            <input
                type="password"
                name="password"
                value="{{ (credential and credential.password) or password or ''}}"
                class="form-control form-control-lg"
                id="exampleInputPassword"
            />
            {% if credential and credential.id >= 0 %}
            <div id="passwordHelp" class="form-text">
                Leave password blank to keep existing password.
            </div>
            {% endif %}
        </div>
        <div class="form-check">
            <input
                class="form-check-input"
                type="checkbox"
                name="shared"
                {{ "checked" if (credential and credential.shared) }}
                id="flexCheckDefault"
            />
            <label class="form-check-label" for="flexCheckDefault">
                Shared
            </label>
            <div id="sharedHelp" class="form-text">
                Shared accounts allow others to listen to this service
            </div>
        </div>
    </div>
    <input
        type="hidden"
        name="id"
        value="{{ (credential and credential.id) or -1}}"
    />
    <div class="form-buttons text-end">
        <a class="btn btn-lg btn-secondary" href="/credential">Cancel</a>
        <button type="submit" class="btn btn-lg btn-primary">Save</button>
    </div>
</form>

{% endblock%}
