{%- extends 'base.html' -%}
{%- block title -%}home{% endblock %}
{%- block content -%}

<h2>ListenBrainz Local Home</h2>

<h5>
ListenBrainz local brings the recommendation, playlist and discovery tools of ListenBrainz
to your local music collection.
</h5>
<p>
Available features:
</p>

<div class="row">
  <div class="column" style="text-align: center">
    <a href="/lb-radio" class="index-item">
      <img src="{{ url_for('static', filename='img/headphones.svg') }}"
           class="index-item">
    </a>
    </br>
    <a href="/lb-radio">LB Radio Local</a>
  </div>

  <div class="column" style="text-align: center">
    <a href="/weekly-jams" class="index-item">
      <img src="{{ url_for('static', filename='img/calendar.svg') }}"
           class="index-item">
    </a>
    </br>
    <a href="/weekly-jams">Weekly Jams</a>
  </div>
</div>

<div class="row" style="margin-top: 2em">
  <div class="column" style="text-align: center">
    <a href="/top-tags" class="index-item">
       <img src="{{ url_for('static', filename='img/hash.svg') }}"
            class="index-item">
    </a>
    </br>
    <a href="/top-tags">Tags</a>
  </div>

  <div class="column" style="text-align: center">
    <a href="/unresolved" class="index-item">
       <img src="{{ url_for('static', filename='img/question.svg') }}"
            class="index-item">
    </a>
    </br>
    <a href="/unresolved">Unresolved albums</a>
  </div>
</div>

{% endblock%}

{% block scripts %}
{% endblock %}
