{%- extends 'base.html' -%}
{%- block title -%}home{% endblock %}
{%- block content -%}

<h2>ListenBrainz Local</h2>

<p id="fuss">
    Enter a ListenBrainz Local Radio query:
</p>

<form hx-post="/lb-radio"
      hx-target="#lb-radio-playlist"
      hx-swap="outerHTML"
  <fieldset>
    <label for="prompt">Prompt</label>
    <div>
      <input type="text" name="prompt" placeholder="artist:(portishead)" style="width: 75%" value="artist:(portishead)">
      <select name="mode" style="width: 20%">
          <option value="easy">easy</option>
          <option value="medium">medium</option>
          <option value="hard">hard</option>
      </select>
    </div>
    <input class="button-primary" type="submit" value="Create">
  </fieldset>
</form>

<form id="lb-radio-playlist">
</form>

{% endblock%}

{% block scripts %}
{% endblock %}
