<table id="lb-radio-playlist">
    <thead>
        <th>title</th>
        <th>release</th>
        <th>artist</th>
    </thead>
    {% for rec in recordings %}
      <tr">
        <td class="tracklistcol">
          <a href="https://musicbrainz.org/recording/{{ rec.recording_mbid }}">{{ rec.recording_name }}</a>
        </td>
        <td class="tracklistcol">
          <a href="https://listenbrainz.org/release/{{ rec.release_mbid }}">{{ rec.release_name }}</a>
        </td>
        <td class="tracklistcol">
          <a href="https://listenbrainz.org/artist/{{ rec.artist_mbid }}">{{ rec.artist_name }}</a>
        </td>
      </tr>
    {% endfor %}
</table>
