<div class="flex-wrap-container player">
    <input
        class="button player-button"
        type="button"
        id="prev-button"
        value="&#x23EE;"
    />
    <input
        class="button player-button"
        type="button"
        id="play-button"
        onclick="play({{ subsonic }});"
        value="&#x23F5;"
    />
    <input
        class="button player-button"
        type="button"
        id="next-button"
        value="&#x23ED;"
    />
    <input
        class="button player-button"
        type="submit"
        id="save-playlist"
        value="&#x2913;"
    />
</div>
