<div class="flex-wrap-container player">
    <input
        class="button player-button"
        type="button"
        id="prev-button"
        onclick="enter_event(EVENT_PREV);"
        value="&#x23EE;"
    />
    <input
        class="button player-button"
        type="button"
        id="stop-button"
        onclick="enter_event(EVENT_STOP);"
        value="&#x23F9;"
    />
    <input
        class="button player-button"
        type="button"
        id="play-button"
        onclick="enter_event(EVENT_PLAY);"
        value="&#x23F5;"
    />
    <input
        class="button player-button"
        type="button"
        id="next-button"
        onclick="enter_event(EVENT_NEXT);"
        value="&#x23ED;"
    />
    <input
        class="button player-button"
        type="submit"
        id="save-playlist"
        value="&#x2913;"
    />
</div>
