{%- extends 'include/base.html' -%} {%- block title -%}services{% endblock %}
{%- block content -%}

<h2>Services</h2>

{% with messages = get_flashed_messages() %} {% if messages %} {% for message in
messages %}
<div class="alert alert-warning" role="alert">{{ message }}</div>
{% endfor %} {% endif %} {% endwith %}

<div
    class="form-body"
    id="service-list"
    hx-get="/service/list"
    hx-trigger="load"
    style="margin-top: 2em"
></div>

<div class="form-buttons-bottom text-end">
    <a href="/" class="btn btn-lg btn-secondary">Cancel</a>
    <a href="/service/add" class="btn btn-lg btn-primary">Add</a>
</div>

{% endblock%} {% block scripts %}
<script type="text/javascript"></script>
{% endblock %}
