{%- extends 'include/base.html' -%} {%- block title -%}services{% endblock %}
{%- block content -%}

<h2>Sync service</h2>

{% with messages = get_flashed_messages() %} {% if messages %} {% for message in
messages %}
<div class="alert alert-warning" role="alert">{{ message }}</div>
{% endfor %} {% endif %} {% endwith %}

<div class="form-body">
    <div class="form-buttons">
        <form id="sync-form">
            <button
                type="submit"
                class="btn btn-lg btn-primary"
                id="sync-submit-button"
                hx-post="/service/{{ slug }}/sync/start"
                hx-class="btn btn-lg btn-primary"
                hx-target="#form-stats"
                hx-swap="innerHTML"
                hx-on--before-request="document.getElementById('sync-form').querySelectorAll('button[type=\'submit\']').forEach(btn => btn.disabled = true);"
                {% if not complete %}
                    disabled
                {% endif %}
            >
                Sync
            </button>
            <button
                type="submit"
                class="btn btn-lg btn-primary"
                id="mo-sync-submit-button"
                hx-post="/service/{{ slug }}/sync/start/metadata-only"
                hx-class="btn btn-lg btn-primary"
                hx-target="#form-stats"
                hx-swap="innerHTML"
                hx-on--before-request="document.getElementById('sync-form').querySelectorAll('button[type=\'submit\']').forEach(btn => btn.disabled = true);"
                {% if not complete %}
                    disabled
                {% endif %}
            >
                Sync Metadata only
            </button>
            <a 
                href="/service/{{ slug }}/sync/full-log"
                class="btn btn-lg btn-secondary"
                target="_blank"
            >
                Show log
            </a>
        </form>
    </div>
    <div id="form-stats">
        <div hx-trigger="document-loaded from:body"
             hx-get="/service/{{ slug }}/sync/log"
             hx-swap="outerHTML">
        </div>
    </div>
</div>

{% endblock%} {% block scripts %}
<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", () => {
        htmx.trigger(document.body, 'document-loaded');
    });
    document.body.addEventListener('sync-complete', function(event) {
        console.log("sync complete");
        button = document.getElementById('sync-submit-button');
        if (button) 
            button.disabled = false;
        button = document.getElementById('mo-sync-submit-button');
        if (button) 
            button.disabled = false;
    });
</script>
{% endblock %}
