{%- extends 'include/base.html' -%} {%- block title -%}services{% endblock %}
{%- block content -%}

<h2>Sync service</h2>

{% with messages = get_flashed_messages() %} {% if messages %} {% for message in
messages %}
<div class="alert alert-warning" role="alert">{{ message }}</div>
{% endfor %} {% endif %} {% endwith %}

<div class="form-body d-flex flex-row justify-content-between">
    <div id="form-stats" style="width: 70%">
        <div hx-trigger="document-loaded from:body"
             hx-get="/service/-/sync/log"
             hx-swap="outerHTML">
        </div>
    </div>
    <div class="form-buttons d-flex justify-content-end" style="width: 30%">
        <form>
            <button
                class="btn btn-lg btn-secondary"
            >
                Show log
            </button>
            <button
                type="submit"
                class="btn btn-lg btn-primary"
                hx-post="/service/{{ slug }}/sync/start"
                hx-class="btn btn-lg btn-primary"
                hx-target="#form-stats"
                hx-swap="innerHTML"
            >
                Sync
            </button>
        </form>
    </div>
</div>

{% endblock%} {% block scripts %}
<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", () => {
        htmx.trigger(document.body, 'document-loaded');
    });
</script>
{% endblock %}