{%- extends 'include/base.html' -%} {%- block title -%}services{% endblock %}
{%- block content -%}

<h2>{{mode}} service</h2>

{% with messages = get_flashed_messages() %} {% if messages %} {% for message in
messages %}
<div class="alert alert-warning" role="alert">{{ message }}</div>
{% endfor %} {% endif %} {% endwith %}

<form method="post" action="/service/add">
    <div class="form-body">
        <div class="mb-3">
            <label for="exampleInputName" class="form-label"
                >Service nickname</label
            >
            <input
                type="text"
                name="slug"
                value="{{ (service and service.slug) or name or ''}}"
                class="form-control form-control-lg"
                id="exampleInputName"
            />
        </div>
        <div class="mb-3">
            <label for="exampleInputURL" class="form-label">URL</label>
            <input
                type="text"
                name="url"
                value="{{ (service and service.url) or url or ''}}"
                class="form-control form-control-lg"
                id="exampleInputURL"
                aria-describedby="urlHelp"
            />
            <div id="urlHelp" class="form-text">
                URL must start with http:// or https://
            </div>
        </div>
    </div>
    <input type="hidden"
           name="mode"
           value="{{ mode }}"
    />
    <input type="hidden"
           name="old_slug"
           value="{{ slug }}"
    />
    <div class="form-buttons text-end">
        <a class="btn btn-lg btn-secondary" href="/service">Cancel</a>
        <button type="submit" class="btn btn-lg btn-primary">Save</button>
    </div>
</form>

{% endblock%}
