{%- extends 'include/base.html' -%}
{%- block title -%}home{% endblock %}
{%- block content -%}

<h2>Tag <em>{{ tag }}</em></h2>

<p>
  <a href="/lb-radio?prompt={{ "tag:(" + tag + ")" | safe }}">
     <em>{{ tag }}</em> <i class="fa-solid fa-radio"></i>
  </a>
</p>

<table class="table table-striped">
  <tr>
      <th>title</th>
      <th>release</th>
      <th>artist</th>
      <th>tag count</th>
  </tr>
  {% for rec in recordings %}
    <tr>
        <td>
          <a href="https://listenbrainz.org/recording/{{ rec.recording_mbid }}">{{ rec.recording_name }}</a>
        </td>
        <td>
          <a href="https://listenbrainz.org/release/{{ rec.release_mbid }}">{{ rec.release_name }}</a>
        </td>
        <td>
          <a href="https://listenbrainz.org/artist/BAD">{{ rec.artist_name }}</a>
          <a href="/lb-radio?prompt={{ "artist:(" + rec.artist_mbid + ")" | safe }}"><i class="fa-solid fa-radio"></i></a>
        </td>
        <td>
          {{ rec.tag_count }}
        </td>
    </tr>
  {% endfor %}
</table>

{% endblock%}

{% block scripts %}
{% endblock %}
