{%- extends 'include/base.html' -%}
{%- block title -%}home{% endblock %}
{%- block content -%}

<h2>Top Tags</h2>

<p>
Below are the top {{ tags | length }} tags that MusicBrainz users have applied to the recordings in your collection:
</p>

<div class="flex-wrap-container" style="margin-top: 3em">
  {% for tag in tags %}
    <div class="tag-div">
        <a href="/lb-radio?prompt={{ "tag:(" + tag.tag + ")" | safe }}">{{ tag.tag }}</a><br/>{{ tag.count }};
    </div>
  {% endfor %}
</div>

{% endblock%}

{% block scripts %}
{% endblock %}
