{%- extends 'base.html' -%}
{%- block title -%}home{% endblock %}
{%- block content -%}

<h2>Weekly Jams</h2>

<p>
    Generate a playlist from a users weekly recommendations. You can generate a playlist as
    many times as you'd like in a week, but the underying recommendations only update each monday.
</p>

<form hx-post="/weekly-jams"
      hx-target="#lb-local-playlist"
      hx-swap="innerHTML"
  <fieldset>
    <label for="prompt">User</label>
    <input type="text"
           name="user_name"
           class="form-control-lg"
           placeholder="joe_user"
           style="width: 40%"
           value="rob"/>
    <button class="btn btn-lg btn-primary"
           type="submit"
           hx-indicator="#spinner"
           hx-on:click="clear_page();">
        Generate</button>
  </fieldset>
  <div style="text-align: center; width: 100%">
    <img id="spinner"
         class="htmx-indicator"
         src="{{ url_for('static', filename='img/spinner.svg') }}">
    </img>
  </div>
</form>

<div id="lb-local-playlist"
     hx-on::after-swap="update_button_states();"
    ></div>

{% endblock%}

{% block scripts %}
<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", () => {
          init_player("{{ subsonic.host }}", {{ subsonic.port }}, "{{ subsonic.args |safe}}");
          //htmx.logAll();
    });

    function clear_page() {
        htmx.addClass(htmx.find('#prompt-examples'), 'hidden');
        document.getElementById("lb-local-playlist").innerHTML = "";
        stop();
    }
</script>
{% endblock %}
