{%- extends 'include/base.html' -%}
{%- block title -%}home{% endblock %}
{%- block content -%}

<h2>Weekly Jams</h2>

<p>
    Generate a playlist from a users weekly recommendations. You can generate a playlist as
    many times as you'd like in a week, but the underying recommendations only update each monday.
</p>

<form hx-post="/weekly-jams"
      hx-target="#lb-local-playlist"
      hx-swap="innerHTML"
  <fieldset>
    <label for="prompt">User</label>
    <input type="text"
           name="user_name"
           id="prompt"
           class="form-control-lg"
           placeholder="user name"
           style="width: 40%"
           hx-on:input="update_buttons();"/>
    <button class="btn btn-lg btn-primary disabled"
           type="submit"
           id="submit-button"
           hx-indicator="#spinner"
           hx-on:click="clear_page();">
        Generate</button>
  </fieldset>
  <div style="text-align: center; width: 100%">
    <img id="spinner"
         class="htmx-indicator"
         src="{{ url_for('static', filename='img/spinner.svg') }}">
    </img>
  </div>
</form>

<div id="lb-local-playlist"
     hx-on::after-swap="update_button_states();"
    ></div>

{% endblock%}

{% block scripts %}
<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", () => {
          init_player("{{ subsonic.url}}",
                      "{{ subsonic.user}}",
                      "{{ subsonic.salt}}",
                      "{{ subsonic.token}}");
          //htmx.logAll();
          update_buttons();
    });

    function clear_page() {
        htmx.addClass(htmx.find('#prompt-examples'), 'hidden');
        document.getElementById("lb-local-playlist").innerHTML = "";
        stop();
    }

    function update_buttons() {
            input =  document.getElementById("prompt");
            submit =  document.getElementById("submit-button");
            if (input.value.length > 0)
                submit.classList.remove("disabled");
            else
                submit.classList.add("disabled");
        }
</script>
{% endblock %}
